In [ ]:
import pandas as pd
import numpy as np

data = {
    '이름': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Floria'],
    '나이': [25, 30, np.nan, 40, 45, 20],
    '성별': ['여성', '남자', '남성', '남성', '여', '여성'],
    '직업': ['학생', '개발자', '데이터분석가', '의사', '연구원', None]
}

# DataFrame 생성
df = pd.DataFrame(data)

df

In [ ]:
# column 가져오기 (series로 가져오기)
df['이름']

In [ ]:
# column 가져오기 (dataFrame으로 가져오기)
df[['이름']]

In [ ]:
# columns 가져오기 (dataFrame으로 가져오기)
df[['이름', '나이']]

In [ ]:
# columns 가져오기 (dataFrame으로 가져오기) // 응용 : 컬럼 위치 바꾸기
df = df[['이름', '성별', '직업', '나이']]
df

In [ ]:
# row 가져오기 (index로 가져오기)
df.loc[0]

In [ ]:
# row 가져오기 (위치로 가져오기)
df.iloc[0]

In [ ]:
#특정값 가져오기
df['직업'][1]

In [ ]:
df.loc[1,'직업']

In [ ]:
df.loc[1,['이름', '직업']]

In [ ]:
# rows 가져오기 (위치로 가져와짐)
df[2:4]

In [ ]:
test_df = df[1:4]
test_df

In [ ]:
test_df.loc[1]

In [ ]:
test_df.iloc[1]

In [ ]:
test_df[1:2]

In [ ]:
df

In [ ]:
# 조건으로 가져오기 (마스크란?)
df['직업'] == '데이터분석가'

In [ ]:
df['나이'] > 30

In [ ]:
# 조건으로 가져오기 (마스크 이용)
df[df['직업'] == '개발자']

In [ ]:
df[df['나이'] > 30]

In [ ]:
df['직업'].isna()

In [ ]:
# 조건으로 가져오기 (결측치 보기)
df[df['직업'].isna()]

In [ ]:
df[df['나이'].isna()]

In [ ]:
# 조건으로 가져오기 (결측치 제외)
df[df['나이'].notna()]

In [ ]:
df[~df['나이'].isna()] # ~는 boolean에서 NOT을 의미

In [ ]:
df['성별'].str[0]

In [ ]:
# 조금 더 복잡한 조건으로 가져오기 (str 함수는 각각의 값을 가져온다)
df[df['성별'].str[0] =='여']

In [ ]:
df[(df['성별'].str[0] =='여') & (df['나이'] < 30)] # and 사용 시 에러 주의