In [1]:
import pandas as pd

In [2]:
apartment_df = pd.read_csv('data/train.csv')

In [3]:
park_df = pd.read_csv('data/park.csv')

In [4]:
day_care_center_df = pd.read_csv('data/day_care_center.csv')

In [5]:
apartment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216553 entries, 0 to 1216552
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1216553 non-null  int64
 1   apartment_id            1216553 non-null  int64
 2   city                    1216553 non-null  object
 3   dong                    1216553 non-null  object
 4   jibun                   1216553 non-null  object
 5   apt                     1216553 non-null  object
 6   addr_kr                 1216553 non-null  object
 7   exclusive_use_area      1216553 non-null  float64
 8   year_of_completion      1216553 non-null  int64
 9   transaction_year_month  1216553 non-null  int64
 10  transaction_date        1216553 non-null  object
 11  floor                   1216553 non-null  int64
 12  transaction_real_price  1216553 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 120.7+ MB

In [6]:
import numpy as np

In [7]:
np.unique(apartment_df['city'])

array(['부산광역시', '서울특별시'], dtype=object)

In [8]:
np.sort(np.unique(apartment_df['transaction_year_month']))

array([200801, 200802, 200803, 200804, 200805, 200806, 200807, 200808,
       200809, 200810, 200811, 200812, 200901, 200902, 200903, 200904,
       200905, 200906, 200907, 200908, 200909, 200910, 200911, 200912,
       201001, 201002, 201003, 201004, 201005, 201006, 201007, 201008,
       201009, 201010, 201011, 201012, 201101, 201102, 201103, 201104,
       201105, 201106, 201107, 201108, 201109, 201110, 201111, 201112,
       201201, 201202, 201203, 201204, 201205, 201206, 201207, 201208,
       201209, 201210, 201211, 201212, 201301, 201302, 201303, 201304,
       201305, 201306, 201307, 201308, 201309, 201310, 201311, 201312,
       201401, 201402, 201403, 201404, 201405, 201406, 201407, 201408,
       201409, 201410, 201411, 201412, 201501, 201502, 201503, 201504,
       201505, 201506, 201507, 201508, 201509, 201510, 201511, 201512,
       201601, 201602, 201603, 201604, 201605, 201606, 201607, 201608,
       201609, 201610, 201611, 201612, 201701, 201702, 201703, 201704,
       201705, 201706, 201707, 201708, 201709, 201710, 201711],
      dtype=int64)

In [9]:
np.sort(np.unique(apartment_df['year_of_completion']))

array([1961, 1962, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973,
       1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
      dtype=int64)

In [10]:
apartment_df[apartment_df['year_of_completion'] == 1961]

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
376092,376092,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,54.16,1961,200802,11~20,5,12000
376142,376142,9108,서울특별시,구로동,748-24,은진빌라(748-24),구로동 748-24 은진빌라(748-24),59.92,1961,200802,21~29,1,14000
376389,376389,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,44.55,1961,200803,1~10,2,10000
376601,376601,241,서울특별시,구로동,780-86,(780-86),구로동 780-86 (780-86),35.55,1961,200803,21~31,1,8700
378005,378005,277,서울특별시,구로동,794-26,(794-26),구로동 794-26 (794-26),48.13,1961,200806,11~20,4,16000
378753,378753,277,서울특별시,구로동,794-26,(794-26),구로동 794-26 (794-26),48.13,1961,200810,1~10,5,14550
379691,379691,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,54.16,1961,200905,11~20,5,12600
380639,380639,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,44.55,1961,200908,1~10,1,15000
380752,380752,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,54.16,1961,200908,21~31,4,21000
381080,381080,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,44.55,1961,200909,1~10,5,16000
382532,382532,241,서울특별시,구로동,780-86,(780-86),구로동 780-86 (780-86),35.55,1961,201004,11~20,5,10750
383235,383235,9724,서울특별시,구로동,805-14,제일(805-14),구로동 805-14 제일(805-14),55.98,1961,201010,11~20,2,16000
385760,385760,9724,서울특별시,구로동,805-14,제일(805-14),구로동 805-14 제일(805-14),55.98,1961,201108,11~20,4,18000
387229,387229,9724,서울특별시,구로동,805-14,제일(805-14),구로동 805-14 제일(805-14),55.98,1961,201203,1~10,1,15900
388397,388397,97,서울특별시,구로동,740-33,(740-33),구로동 740-33 (740-33),55.63,1961,201211,11~20,1,9000
399155,399155,241,서울특별시,구로동,780-86,(780-86),구로동 780-86 (780-86),35.55,1961,201505,21~31,2,12200
401163,401163,241,서울특별시,구로동,780-86,(780-86),구로동 780-86 (780-86),35.55,1961,201509,11~20,1,10500
401593,401593,97,서울특별시,구로동,740-33,(740-33),구로동 740-33 (740-33),26.54,1961,201510,11~20,4,7900
401713,401713,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,54.16,1961,201510,21~31,2,17500
405519,405519,309,서울특별시,구로동,805-16,(805-16),구로동 805-16 (805-16),60.60,1961,201607,1~10,1,17000
407318,407318,82,서울특별시,구로동,718-18,(718-18)삼성빌라트,구로동 718-18 (718-18)삼성빌라트,54.16,1961,201610,11~20,4,19500
408084,408084,309,서울특별시,구로동,805-16,(805-16),구로동 805-16 (805-16),60.60,1961,201612,11~20,4,17000

In [11]:
park_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   city                         1359 non-null   object
 1   gu                           1356 non-null   object
 2   dong                         1359 non-null   object
 3   park_name                    1359 non-null   object
 4   park_type                    1359 non-null   object
 5   park_area                    1359 non-null   float64
 6   park_exercise_facility       277 non-null    object
 7   park_entertainment_facility  435 non-null    object
 8   park_benefit_facility        266 non-null    object
 9   park_cultural_facitiy        72 non-null     object
 10  park_facility_other          175 non-null    object
 11  park_open_year               937 non-null    float64
 12  reference_date               1359 non-null   object
dtypes: float64(2), object(11)
memory usage: 138.2+ KB

In [12]:
np.unique(park_df['city'])

array(['부산광역시', '서울특별시'], dtype=object)

In [13]:
park_df[park_df['park_exercise_facility'].notna()]

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
50,부산광역시,연제구,연산동,과정공원,어린이공원,1946.5,게이트볼장,조합놀이대 등,화장실,NaN,파고라 및 체력단련시설 등,1973.0,2018-04-04
55,부산광역시,연제구,거제동,거제체육공원,체육공원,5848.5,게이트볼장,NaN,NaN,NaN,파고라 및 체력단련시설 등,2003.0,2018-04-04
169,부산광역시,부산진구,개금동,개금테마공원,근린공원,28881.0,풋살운동장,"""조합놀이대, 그네, 시소""",화장실,NaN,NaN,1986.0,2018-04-05
181,부산광역시,부산진구,당감동,미리내어린이공원,어린이공원,2969.2,배드민턴장,"""시소, 흔들놀이기구""",NaN,NaN,NaN,1994.0,2018-04-05
195,서울특별시,양천구,신정동,신정3동소공원,소공원,3353.0,야외헬스형운동기구 1개,NaN,NaN,NaN,NaN,2012.0,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,서울특별시,구로구,궁동,삭새어린이공원,어린이공원,2077.0,체력단련시설 11점,"모래밭 1기, 조합놀이 1기",NaN,NaN,NaN,1979.0,2019-02-25
1348,서울특별시,구로구,궁동,수른어린이공원,어린이공원,332.0,체력단련시설 2점,조합놀이 1기,NaN,NaN,NaN,1991.0,2019-02-25
1349,서울특별시,구로구,천왕동,천왕도시자연공원,기타,587860.0,"운동장 1개소, 배드민턴 2개소, 체력단력시설 14점",NaN,"샘터 1개소, 파고라 1동",NaN,NaN,1971.0,2019-02-25
1350,서울특별시,구로구,천왕동,연지근린공원,근린공원,44478.0,체력단련시설 15점,NaN,NaN,NaN,NaN,2004.0,2019-02-25
1352,서울특별시,구로구,천왕동,천왕근린공원,근린공원,33677.0,체력단련시설 9점,NaN,NaN,NaN,NaN,2004.0,2019-02-25

In [14]:
park_df[~park_df['park_exercise_facility'].isna()]

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
50,부산광역시,연제구,연산동,과정공원,어린이공원,1946.5,게이트볼장,조합놀이대 등,화장실,NaN,파고라 및 체력단련시설 등,1973.0,2018-04-04
55,부산광역시,연제구,거제동,거제체육공원,체육공원,5848.5,게이트볼장,NaN,NaN,NaN,파고라 및 체력단련시설 등,2003.0,2018-04-04
169,부산광역시,부산진구,개금동,개금테마공원,근린공원,28881.0,풋살운동장,"""조합놀이대, 그네, 시소""",화장실,NaN,NaN,1986.0,2018-04-05
181,부산광역시,부산진구,당감동,미리내어린이공원,어린이공원,2969.2,배드민턴장,"""시소, 흔들놀이기구""",NaN,NaN,NaN,1994.0,2018-04-05
195,서울특별시,양천구,신정동,신정3동소공원,소공원,3353.0,야외헬스형운동기구 1개,NaN,NaN,NaN,NaN,2012.0,2018-07-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,서울특별시,구로구,궁동,삭새어린이공원,어린이공원,2077.0,체력단련시설 11점,"모래밭 1기, 조합놀이 1기",NaN,NaN,NaN,1979.0,2019-02-25
1348,서울특별시,구로구,궁동,수른어린이공원,어린이공원,332.0,체력단련시설 2점,조합놀이 1기,NaN,NaN,NaN,1991.0,2019-02-25
1349,서울특별시,구로구,천왕동,천왕도시자연공원,기타,587860.0,"운동장 1개소, 배드민턴 2개소, 체력단력시설 14점",NaN,"샘터 1개소, 파고라 1동",NaN,NaN,1971.0,2019-02-25
1350,서울특별시,구로구,천왕동,연지근린공원,근린공원,44478.0,체력단련시설 15점,NaN,NaN,NaN,NaN,2004.0,2019-02-25
1352,서울특별시,구로구,천왕동,천왕근린공원,근린공원,33677.0,체력단련시설 9점,NaN,NaN,NaN,NaN,2004.0,2019-02-25

In [15]:
type(park_df['park_exercise_facility'].astype(str)[0])

str

In [16]:
type(park_df['park_exercise_facility'][0])

float

In [17]:
park_df[park_df['park_exercise_facility'].astype(str).str.contains('게이트볼')]

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
50,부산광역시,연제구,연산동,과정공원,어린이공원,1946.5,게이트볼장,조합놀이대 등,화장실,NaN,파고라 및 체력단련시설 등,1973.0,2018-04-04
55,부산광역시,연제구,거제동,거제체육공원,체육공원,5848.5,게이트볼장,NaN,NaN,NaN,파고라 및 체력단련시설 등,2003.0,2018-04-04
272,서울특별시,금천구,독산동,감로천생태공원,근린공원,15000.0,"""배드민턴장, 게이트볼장""",NaN,NaN,NaN,CCTV,1968.0,2018-08-19
290,서울특별시,중구,만리동2가,손기정공원,체육공원,29682.0,"""축구장, 게이트볼장, 테니스장""",조합놀이대,"""화장실,주차장""",NaN,NaN,1987.0,2018-05-21
390,서울특별시,동대문구,장안동,장안,근린공원,14744.8,"""배드민턴장, 족구장, 게이트볼장, 농구장 반코트""","""조합놀이대, 그네""","""정자, 벤치, 화장실""",독서실,"""바닥분수, 계류""",1988.0,2018-03-31
426,서울특별시,영등포구,문래동3가,문래근린공원,근린공원,23611.0,"""배드민턴장, 게이트볼장""",조합놀이대,"""음수대, 평의자 등""",NaN,NaN,1940.0,2018-02-20
437,부산광역시,금정구,금사동,금천공원,어린이공원,1983.3,게이트볼장,"""그네, 미끄럼틀""",NaN,NaN,NaN,1984.0,2018-06-30
444,부산광역시,금정구,금사동,보람공원,어린이공원,2738.2,게이트볼장,NaN,화장실,NaN,NaN,1972.0,2018-06-30
494,서울특별시,강북구,미아동,북한산 도시자연공원,기타,128341.0,배드민턴장 게이트볼장 족구장,그네 회전놀이 조합놀이대,화장실,NaN,유아숲체험원,1971.0,2018-08-01
565,부산광역시,NaN,영주동,중앙공원,근린공원,5020657.0,"""운동광장, 게이트볼, 궁도장, 구민운동장, 풋살경기장, 다목적 마당, 인라인스케이...","""어린이놀이터, 발물놀이터""","""주차장,화장실, 대중음식점,매점,전망대,다과점,치유센터,숲속요가장및 풍욕장, 낙상...","""도서관, 기념비, 충혼탑, 장건상동상, 대한해협전승비, 자연보호헌장, 시민헌장, ...","""도로, 광장, 파고라, 못, 생태연못, 야영장, 음수대, 휴게소, 야유회장, 전망...",1986.0,2018-08-01
599,서울특별시,은평구,신사동,신사근린공원<시공원>,근린공원,111650.0,"""배드민턴장1, 게이트볼장1""",조합놀이대1,화장실1,기타1,관리사무소1,1993.0,2018-02-14
605,서울특별시,은평구,녹번동,북한산도시자연공원<시공원>,기타,730342.0,"""배드민턴장1, 게이트볼장1, 기타2""",조합놀이대1,화장실1,기타2,관리사무소1,2000.0,2018-02-14
922,부산광역시,동래구,수안동,수안체육공원,어린이공원,1732.7,게이트볼장,NaN,화장실,NaN,NaN,1973.0,2019-03-21
963,서울특별시,용산구,효창동,효창공원,근린공원,171277.0,"운동장, 배드민턴장, 게이트볼장 등","조합놀이대, 그네 등","주차장, 매점, 화장실, 음수대 등","동상, 탑기념비",NaN,1940.0,2019-01-22
1328,서울특별시,구로구,고척동,고척근린공원,근린공원,108120.0,"운동장 1개소, 테니스장 1개소, 수영장 1개소, 배드민턴 2개소, 게이트볼 1개소...","모래밭 2기, 시소 1기, 조합놀이 3기","주차장 1개소, 화장실 1개소, 공중전화 3기, 음수대 6기, 시계탑 2기",도서관 1개소,NaN,1977.0,2019-02-25

In [27]:
park_df.sort_values(['park_area', 'park_open_year'], ascending=[True, False]).head(50)

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
1281,부산광역시,수영구,광안동,광안1동 소공원,소공원,22.0,NaN,NaN,NaN,NaN,NaN,2013.0,2018-09-01
642,서울특별시,은평구,녹번동,도원극장옆마을마당,기타,48.8,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-14
1077,서울특별시,강남구,도곡동,도곡동 426-9(로덴하우스)소공원,소공원,80.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-27
960,서울특별시,광진구,구의동,구의가로휴식공원,소공원,95.2,NaN,NaN,NaN,NaN,NaN,1971.0,2019-02-26
792,서울특별시,송파구,마천동,돌무데기,어린이공원,97.6,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
610,서울특별시,은평구,대조동,대조동청사옆마을마당,기타,130.3,NaN,NaN,NaN,NaN,NaN,2004.0,2018-02-14
614,서울특별시,은평구,구산동,구산초교앞마을마당,기타,135.0,NaN,조형물1,NaN,NaN,NaN,2006.0,2018-02-14
617,서울특별시,은평구,응암동,응암2오손길마을마당,기타,139.0,NaN,NaN,NaN,NaN,NaN,2010.0,2018-02-14
616,서울특별시,은평구,구산동,구산동마을공원(확대),기타,157.0,NaN,NaN,NaN,NaN,NaN,2008.0,2018-02-14
643,서울특별시,은평구,녹번동,자투리토지녹번마을마당,기타,165.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-14
883,서울특별시,중랑구,묵동,묵동소공원,소공원,167.2,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-08
981,서울특별시,용산구,후암동,후암어린이공원,어린이공원,182.0,NaN,NaN,NaN,NaN,NaN,2005.0,2019-01-22
240,서울특별시,동작구,사당동,반달,어린이공원,182.0,NaN,NaN,NaN,NaN,NaN,1981.0,2018-02-19
646,서울특별시,은평구,대조동,대조마을마당,기타,183.5,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-14
38,부산광역시,연제구,연산동,강변공원,소공원,196.8,NaN,NaN,NaN,NaN,벤치 등,2014.0,2018-04-04
365,부산광역시,중구,영주동,영주어린이공원,어린이공원,198.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-13
820,서울특별시,송파구,풍납동,아랫바람,어린이공원,198.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
261,서울특별시,동작구,상도동,꽃담길,소공원,206.0,NaN,NaN,NaN,NaN,NaN,2012.0,2018-02-19
213,서울특별시,관악구,청룡동,영락,어린이공원,206.0,NaN,흔들말+조합놀이대,NaN,NaN,NaN,1983.0,2018-08-16
1298,부산광역시,사상구,주례동,새싹공원,어린이공원,208.0,NaN,시소 외 1종 2점,NaN,NaN,등의자 외 1종 3점,1994.0,2019-03-21
310,부산광역시,북구,만덕동,사기천소공원,소공원,221.0,NaN,NaN,NaN,NaN,NaN,2016.0,2018-08-30
607,서울특별시,은평구,역촌동,역촌동마을마당,기타,230.1,NaN,NaN,NaN,NaN,NaN,2001.0,2018-02-14
973,서울특별시,용산구,이촌동,새푸리공원,소공원,231.0,NaN,조합놀이대,NaN,NaN,NaN,1992.0,2019-01-22
473,서울특별시,성동구,송정동,송정,어린이공원,236.4,없음,"""조합놀이대 1개소, 그네 1개""",없음,없음,없음,2001.0,2018-08-13
957,서울특별시,광진구,군자동,남일공원,어린이공원,238.0,NaN,"조합놀이대, 그네",NaN,NaN,NaN,1979.0,2019-02-26
234,서울특별시,동작구,신대방동,칸나,소공원,241.0,NaN,NaN,NaN,NaN,NaN,2012.0,2018-02-19
1325,서울특별시,구로구,구로동,구로동(다울)소공원,소공원,243.0,체력단련시설 4점,NaN,NaN,NaN,NaN,2008.0,2019-02-25
628,서울특별시,은평구,불광동,가람어린이공원,어린이공원,249.0,NaN,조합놀이대1,NaN,NaN,NaN,NaN,2018-02-14
632,서울특별시,은평구,구산동,거북이,소공원,250.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-14
1251,서울특별시,강서구,방화동,목련,어린이공원,251.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-20
1241,서울특별시,강서구,방화동,개나리,어린이공원,252.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-20
1242,서울특별시,강서구,방화동,긴등,어린이공원,253.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-20
1243,서울특별시,강서구,방화동,문성,어린이공원,254.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-20
248,서울특별시,동작구,흑석동,서달,소공원,254.8,NaN,NaN,NaN,NaN,NaN,2005.0,2018-02-19
1205,서울특별시,강서구,화곡동,참새,어린이공원,256.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-20
977,서울특별시,용산구,신창동,신창동어린이공원,어린이공원,257.0,NaN,NaN,NaN,NaN,NaN,2003.0,2019-01-22
163,서울특별시,서초구,방배동,달님,어린이공원,259.5,NaN,NaN,NaN,NaN,NaN,NaN,2018-06-30
1329,서울특별시,구로구,고척동,골목어린이공원,어린이공원,266.0,체력단련시설 2점,"그네 1기, 모래밭 1기, 조합놀이 1기",NaN,NaN,NaN,1978.0,2019-02-25
618,서울특별시,은평구,대조동,팜스퀘어옆소공원,기타,268.8,NaN,NaN,NaN,NaN,NaN,2010.0,2018-02-14
655,서울특별시,서대문구,연희동,동구물어린이공원,어린이공원,275.0,NaN,"""그네1기, 시소 1기, 기타 1기""",NaN,NaN,NaN,1967.0,2018-08-01
1219,서울특별시,강서구,화곡동,대원,어린이공원,276.9,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-20
992,서울특별시,용산구,이태원동,이태원어린이놀이터,소공원,278.0,NaN,조합놀이대,NaN,NaN,NaN,2010.0,2019-01-22
786,서울특별시,송파구,마천동,남천,어린이공원,282.9,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
19,부산광역시,남구,대연동,소공원,소공원,283.0,NaN,NaN,NaN,NaN,NaN,2006.0,2018-08-14
830,서울특별시,송파구,풍납동,윗바람,어린이공원,291.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
849,서울특별시,송파구,풍납동,풍납타이어,기타,291.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-01
664,서울특별시,서대문구,홍제동,상암곡어린이공원,어린이공원,294.0,NaN,"""조합놀이대 1기, 그네 1기""",NaN,NaN,NaN,1970.0,2018-08-01
1252,서울특별시,강서구,방화동,샛별,어린이공원,294.0,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-20
735,부산광역시,강서구,명지동,두루미공원,소공원,295.2,NaN,NaN,NaN,NaN,"""등의자, 사면플랜터""",2013.0,2018-09-14
214,서울특별시,관악구,삼성동,양산,어린이공원,297.0,NaN,조합놀이대,NaN,NaN,NaN,1988.0,2018-08-16

In [34]:
park_df.pivot_table(index=['city', 'gu', 'dong'], values='park_area', aggfunc=['sum', 'count']).sort_values([('count', 'park_area'), ('sum', 'park_area')], ascending=False).head(50)

                       sum     count
                 park_area park_area
city  gu   dong
서울특별시 강서구  화곡동   1410219.8        31
부산광역시 강서구  명지동    348482.8        25
서울특별시 강서구  방화동    313348.3        25
      서초구  양재동    454614.0        21
      송파구  문정동    232695.0        20
부산광역시 북구   화명동    171462.4        20
서울특별시 송파구  마천동    324979.2        19
      서초구  방배동    328598.7        18
      강남구  역삼동     55135.6        18
부산광역시 북구   만덕동    407124.7        17
서울특별시 서초구  반포동     90820.9        17
부산광역시 연제구  연산동     44453.2        17
서울특별시 강남구  개포동    422235.9        16
      서초구  우면동    167527.5        16
      강서구  등촌동     48255.2        16
      동작구  사당동   1154163.6        15
      서초구  서초동    570928.3        15
부산광역시 남구   대연동    411583.1        15
서울특별시 송파구  거여동    282991.6        15
부산광역시 동래구  온천동   3249492.7        14
서울특별시 은평구  진관동   2956693.3        14
부산광역시 영도구  동삼동    847899.0        14
서울특별시 송파구  오금동    283715.2        14
      강서구  가양동    228304.5        14
      강남구  일원동     68338.2        14
부산광역시 북구   금곡동     36670.7        14
서울특별시 동작구  상도동    370278.4        13
      강남구  세곡동    250853.0        13
      송파구  가락동    102882.4        13
      동대문구 장안동     45784.2        13
부산광역시 해운대구 좌동      42189.8        13
      북구   덕천동    186211.3        12
서울특별시 송파구  방이동   1496661.9        11
      은평구  녹번동    813506.9        11
      송파구  장지동    354559.8        11
      강서구  내발산동   125952.4        11
      강남구  대치동     60607.3        11
      구로구  구로동     41629.0        11
      송파구  송파동     39390.7        11
      서초구  잠원동     29377.2        11
      은평구  구산동   1602297.9        10
부산광역시 사하구  다대동    595648.4        10
서울특별시 강남구  수서동    589675.3        10
부산광역시 해운대구 반여동     43116.7        10
서울특별시 송파구  신천동    331281.3         9
      은평구  응암동    324624.6         9
      강남구  도곡동    290928.3         9
      구로구  고척동    275682.0         9
      강동구  강일동    211206.1         9
부산광역시 동래구  명장동    142798.3         9

In [35]:
day_care_center_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7551 entries, 0 to 7550
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   city                  7551 non-null   object
 1   gu                    7551 non-null   object
 2   day_care_name         7551 non-null   object
 3   day_care_type         7551 non-null   object
 4   day_care_baby_num     7551 non-null   int64
 5   teacher_num           7326 non-null   float64
 6   nursing_room_num      4352 non-null   float64
 7   playground_num        3626 non-null   float64
 8   CCTV_num              5280 non-null   float64
 9   is_commuting_vehicle  7055 non-null   object
 10  reference_date        7551 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 649.0+ KB

In [44]:
np.unique(day_care_center_df['city'])

array(['부산광역시', '서울특별시'], dtype=object)

In [50]:
day_care_center_df.sort_values(['day_care_baby_num', 'teacher_num'], ascending=[False, True]).head(50)

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
4028,부산광역시,북구,숲속은성어린이집,민간,489,49.0,19.0,0.0,24.0,Y,2018-10-18
3589,부산광역시,동래구,혜화어린이집,민간,300,33.0,18.0,1.0,20.0,Y,2018-07-09
6036,부산광역시,강서구,무궁화어린이집,사회복지법인,300,34.0,15.0,0.0,25.0,Y,2018-10-31
577,서울특별시,송파구,서울아산병원어린이집,직장,300,49.0,NaN,NaN,26.0,N,2018-08-03
1339,서울특별시,서초구,삼성전자서울R&D캠퍼스어린이집,직장,300,50.0,NaN,NaN,NaN,N,2018-07-25
5250,서울특별시,중랑구,서일대학교부설어린이집,민간,298,32.0,11.0,0.0,32.0,Y,2018-10-08
3887,서울특별시,금천구,자연유아어린이집,민간,297,30.0,12.0,0.0,32.0,Y,2018-08-10
6729,서울특별시,관악구,서울대학교어린이보육지원센터 느티나무어린이집,직장,280,33.0,16.0,1.0,40.0,N,2018-08-01
6140,서울특별시,노원구,공릉2동어린이집,국공립,280,36.0,14.0,1.0,19.0,N,2018-10-10
6949,부산광역시,사하구,신장림어린이집,민간,270,5.0,10.0,2.0,21.0,Y,2019-01-17
1546,서울특별시,종로구,서울청사한빛어린이집,직장,264,53.0,16.0,1.0,27.0,N,2018-08-13
6071,부산광역시,강서구,오감팡팡어린이집,가정,259,35.0,3.0,0.0,4.0,N,2018-10-31
6535,서울특별시,노원구,하계어린이집,국공립,255,32.0,15.0,1.0,22.0,Y,2018-10-10
7038,부산광역시,사하구,하단어린이집,국공립,250,27.0,11.0,1.0,14.0,Y,2019-01-17
7306,서울특별시,강남구,삼성서울병원 어린이집,직장,250,NaN,NaN,NaN,NaN,NaN,2019-03-05
4321,서울특별시,강동구,예일어린이집,민간,249,30.0,NaN,NaN,11.0,NaN,2018-08-17
3538,부산광역시,동래구,예능어린이집,민간,249,41.0,16.0,1.0,25.0,N,2018-07-09
6340,서울특별시,노원구,순복음어린이집,민간,248,26.0,10.0,1.0,12.0,Y,2018-10-10
3698,서울특별시,강북구,신기어린이집,민간,243,37.0,NaN,NaN,NaN,,2018-07-23
1757,부산광역시,부산진구,크로바어린이집,민간,241,21.0,10.0,1.0,26.0,Y,2018-07-27
1295,서울특별시,서초구,까리따스어린이집,법인·단체,237,34.0,NaN,NaN,NaN,Y,2018-07-25
1373,서울특별시,서초구,서초구립 서초성모어린이집,국공립,233,50.0,NaN,NaN,NaN,N,2018-07-25
7191,부산광역시,동구,묘음예능어린이집,민간,232,23.0,NaN,NaN,7.0,Y,2018-03-31
689,서울특별시,송파구,위례새솔어린이집,국공립,230,34.0,NaN,NaN,24.0,N,2018-08-03
6730,서울특별시,관악구,서울대학교어린이보육지원센터 백학어린이집,직장,230,34.0,12.0,2.0,18.0,N,2018-08-01
1319,서울특별시,서초구,바로미어린이집,직장,230,45.0,NaN,NaN,NaN,N,2018-07-25
3507,부산광역시,동래구,쁘띠쁘아어린이집,민간,227,24.0,16.0,1.0,24.0,N,2018-07-09
4724,부산광역시,해운대구,반여3동어린이집,국공립,223,25.0,NaN,NaN,NaN,Y,2018-08-10
3896,서울특별시,금천구,청담어린이집,사회복지법인,223,28.0,14.0,2.0,20.0,Y,2018-08-10
7491,부산광역시,금정구,부산대학교부설어린이집,국공립,223,34.0,NaN,NaN,NaN,n,2019-01-21
2121,서울특별시,동작구,구립상도어린이집,국공립,222,30.0,NaN,NaN,NaN,,2018-02-19
1539,서울특별시,종로구,무궁화어린이집,직장,222,57.0,16.0,4.0,53.0,N,2018-08-13
4242,서울특별시,강동구,봄햇살어린이집,민간,219,27.0,NaN,NaN,NaN,NaN,2018-08-17
6101,부산광역시,강서구,현대어린이집,민간,218,8.0,3.0,0.0,8.0,Y,2018-10-31
4072,부산광역시,북구,창의글로벌어린이집,민간,214,25.0,13.0,1.0,16.0,Y,2018-10-18
1832,서울특별시,양천구,구립 양천어린이집,국공립,212,29.0,NaN,NaN,21.0,N,2018-08-06
5037,부산광역시,기장군,한수원 한빛어린이집,직장,210,42.0,20.0,1.0,21.0,N,2019-02-21
6918,부산광역시,사하구,부산YWCA부설어린이집,법인·단체,208,23.0,7.0,1.0,12.0,Y,2019-01-17
284,서울특별시,도봉구,하늘빛어린이집,민간,208,25.0,11.0,1.0,17.0,Y,2018-05-01
4552,서울특별시,영등포구,신이화어린이집,민간,207,29.0,12.0,0.0,24.0,Y,2018-02-28
892,서울특별시,성동구,구립 용답,국공립,206,32.0,13.0,1.0,20.0,Y,2018-08-10
1545,서울특별시,종로구,서울청사푸르미어린이집,직장,206,47.0,10.0,3.0,26.0,N,2018-08-13
4823,부산광역시,해운대구,재송어린이집,사회복지법인,204,22.0,NaN,NaN,NaN,Y,2018-08-10
4300,서울특별시,강동구,암사무지개어린이집,민간,203,16.0,NaN,NaN,NaN,NaN,2018-08-17
5174,서울특별시,중랑구,나래어린이집,민간,203,28.0,13.0,1.0,17.0,Y,2018-10-08
6067,부산광역시,강서구,에디슨어린이집,민간,200,1.0,4.0,0.0,5.0,N,2018-10-31
7003,부산광역시,사하구,진성어린이집,법인·단체,200,25.0,9.0,1.0,11.0,Y,2019-01-17
1218,서울특별시,은평구,은평한옥마을성균관어린이집,민간,200,31.0,18.0,1.0,33.0,Y,2018-05-31
1433,서울특별시,서초구,양지2어린이집,직장,200,31.0,NaN,NaN,NaN,N,2018-07-25
4577,서울특별시,영등포구,케이알엑스푸르니어린이집,직장,200,46.0,11.0,2.0,22.0,N,2018-02-28

In [53]:
day_care_center_df.pivot_table(index=['city', 'gu'], values=['day_care_baby_num', 'teacher_num'], aggfunc=['sum', 'count', 'mean', 'median']).sort_values(('sum', 'day_care_baby_num'), ascending=False)

                         sum                         count              \
           day_care_baby_num teacher_num day_care_baby_num teacher_num
city  gu
서울특별시 강서구              35150      7032.0               874         874
      송파구              16846      3561.0               409         409
      은평구              14011      2615.0               283         283
      노원구              13711      3235.0               457         455
      구로구              13466      2797.0               334         334
      강동구              13278      2690.0               272         272
      양천구              12460      2541.0               316         316
      영등포구             12005      2459.0               266         266
      강남구              11605         0.0               223           0
      관악구              11543      2463.0               271         271
      중랑구              11533      2362.0               242         242
      서초구              10522      2228.0               204         204
      도봉구              10319      2089.0               255         255
부산광역시 해운대구             10224      1899.0               223         223
서울특별시 동작구              10049      1986.0               234         234
부산광역시 사하구               9987      1884.0               203         203
서울특별시 광진구               8778      1865.0               197         197
      강북구               8569      1674.0               167         167
      성동구               8199      2639.0               184         184
부산광역시 북구                8094      1540.0               188         188
서울특별시 금천구               8051      1663.0               168         168
부산광역시 기장군               7689      1528.0               178         178
      부산진구              7245      1375.0               165         165
서울특별시 서대문구              7164      1510.0               154         154
부산광역시 남구                6676      1203.0               143         143
      동래구               6293      1130.0               124         124
      사상구               5371       960.0               127         127
      강서구               5312       982.0               123         123
      금정구               5251      1059.0               106         106
서울특별시 종로구               4902      1046.0                78          78
부산광역시 연제구               4808       945.0                97          97
서울특별시 중구                4332       937.0                68          68
부산광역시 수영구               3930       713.0                77          77
      영도구               2748       485.0                49          49
      동구                2214       388.0                39          39
      서구                1998       384.0                40          40
      중구                 906       166.0                13          13

                        mean                        median
           day_care_baby_num teacher_num day_care_baby_num teacher_num
city  gu
서울특별시 강서구          40.217391    8.045767              20.0         7.0
      송파구          41.188264    8.706601              23.0         7.0
      은평구          49.508834    9.240283              40.0         8.0
      노원구          30.002188    7.109890              19.0         6.0
      구로구          40.317365    8.374251              20.0         7.0
      강동구          48.816176    9.889706              32.0         8.0
      양천구          39.430380    8.041139              20.0         6.0
      영등포구         45.131579    9.244361              28.5         7.0
      강남구          52.040359         NaN              45.0         NaN
      관악구          42.594096    9.088561              28.0         8.0
      중랑구          47.657025    9.760331              34.5         8.0
      서초구          51.578431   10.921569              37.0         8.5
      도봉구          40.466667    8.192157              20.0         6.0
부산광역시 해운대구         45.847534    8.515695              30.0         7.0
서울특별시 동작구          42.944444    8.487179              27.5         8.0
부산광역시 사하구          49.197044    9.280788              34.0         7.0
서울특별시 광진구          44.558376    9.467005              34.0         8.0
      강북구          51.311377   10.023952              39.0         9.0
      성동구          44.559783   14.342391              39.5         9.0
부산광역시 북구           43.053191    8.191489              25.0         6.0
서울특별시 금천구          47.922619    9.898810              37.0         8.5
부산광역시 기장군          43.196629    8.584270              20.0         7.0
      부산진구         43.909091    8.333333              34.0         8.0
서울특별시 서대문구         46.519481    9.805195              35.0         8.0
부산광역시 남구           46.685315    8.412587              31.0         7.0
      동래구          50.750000    9.112903              38.0         8.0
      사상구          42.291339    7.559055              27.0         7.0
      강서구          43.186992    7.983740              20.0         6.0
      금정구          49.537736    9.990566              43.0         9.0
서울특별시 종로구          62.846154   13.410256              49.0        11.0
부산광역시 연제구          49.567010    9.742268              45.0         9.0
서울특별시 중구           63.705882   13.779412              49.0        11.0
부산광역시 수영구          51.038961    9.259740              39.0         8.0
      영도구          56.081633    9.897959              58.0        10.0
      동구           56.769231    9.948718              49.0        10.0
      서구           49.950000    9.600000              49.0         9.5
      중구           69.692308   12.769231              75.0        12.0

In [56]:
np.unique(day_care_center_df['day_care_type'])

array(['가정', '국공립', '민간', '법인·단체', '사회복지법인', '직장', '협동'], dtype=object)